* {
    margin: 0px;
    padding: 0px;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    text-align: center;
    background-color: #282A35;
    color:white;
    font-size:48px;
    font-weight: bold;
    padding: 20px;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

#body h1{
    width: 60vw;
    height: 20vh;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:36px;
}

#footer{
    text-align: right;
    background-color: #282A35;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    height: 5vh;
}

#github-link {
    font-size: 30px;
    padding-right: 15px;
    color: black;
}

#answer-input {
    width: 60vw;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 20px;
}   

#answer-input::placeholder{
    text-align: center;
}

#answer-button {
    width: 200px;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    background-color: #04AA6D;
    color: white;
    border: none;
    margin-bottom: 20px;
}

#answer-button:hover{
    background-color: #06613f;
}

#answer-result{
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    #footer{
        justify-content: center;
    }

    #body h1{
        width: 80vw;
        height: 20vh;
        padding: 20px;
        margin-bottom: 20px;
        font-size:24px;
    }

    #header {
        font-size: 36px;
    }

    #answer-input {
        width: 80vw;
        padding: 5px 20px;
        font-size: 16px;
    }   

    #answer-button {
        width: 150px;
        margin-bottom: 10px;
    }

}